.header {
    height: 50px;
    padding: 10px 50px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30px;
    height: 30px;
    background-color: goldenrod;
}

.nav {
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    color: black;
    font-size: 16px;
    line-height: 1.31;
    text-transform: capitalize;
}

nav a.active {
    text-decoration: underline;
    font-weight: bold;
}