div {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 0 auto;
}

button{
    background-color: transparent;
    border: 1px solid #4d7171;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: capitalize;
}